{
  "cli": {
    "appVersionSource": "remote"
  },
  "build": {
    "preview": {
      "distribution": "internal",
      "android": {
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_SUPABASE_URL": "https://SEU-PROJETO.supabase.co",
        "EXPO_PUBLIC_SUPABASE_ANON_KEY": "sua-anon-key"
      }
    },
    "production": {
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_SUPABASE_URL": "https://SEU-PROJETO.supabase.co",
        "EXPO_PUBLIC_SUPABASE_ANON_KEY": "sua-anon-key"
      }
    }
  },
  "submit": {
    "production": {}
  }
}
